<div class="container container-margin">
  <h2><center>Author Listing</center></h2>
   <%= link_to "Create Author",new_author_path,class: "btn btn-success" %>
 <% @author.each do |author| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            
        
              <p><%= author.first_name %> <%= author.last_name %></p>
              <p>Date of Birth:<%= author.date_of_birth %></p>

              <div class="d-flex align-items-center   justify-content-md-center">
                  <%= link_to 'Show', author_path(author), class: "btn btn-outline-success" %> &nbsp &nbsp

                  <%= link_to 'Edit', edit_author_path(author) , class: "btn btn-outline-info" %>

                   <%= button_to 'Delete', author_path(author),method: :delete, class:"btn btn-outline-danger ms-2" %>
  
             </div>

              
                   

          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
