<div class="container container-margin">
	<h2><center>Book Listing</center></h2>
  <%= link_to "Create Book",new_book_path,class: "btn btn-success" %>
 <% @book.each do |book| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            
        
              <p><%= book.book_title %></p>

              <div >
               <% if book.authors.any? %>
                      <div class="mt-2"><%= render book.authors %></div> 
                  <% end %>
             </div>
              <br>
              <div class="d-flex align-items-center justify-content-md-center">
              	<%= link_to 'Show', book_path(book), class: "btn btn-outline-success" %> &nbsp &nbsp

              	<%= link_to 'Edit', edit_book_path(book) , class: "btn btn-outline-info" %>

                   <%= button_to 'Delete', book_path(book),method: :delete, class:"btn btn-outline-danger ms-2" %>
  
             </div>


              
             

          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
